src/main/mule/default/default.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="defaultFlow" doc:id="d6bd6fdb-b634-4ec3-b587-ff0355368201" >
		<http:listener doc:name="Listener" doc:id="3963b6ec-905e-42a0-8ecc-a19d3c23cc53" config-ref="HTTP_Listener_6061" path="/default"/>
		<logger level="INFO" doc:name="Logger" doc:id="c59ed474-b36f-4e5d-ac4a-94b5bd8345fc" message="#[2 + 2]"/>
	</flow>
</mule>
